/* Chat component styling */
.chat-component {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 40vh;
  border: 1px solid black;
  border-radius: 4px;
  padding-bottom: 2px;
  overflow: hidden;
  background-color: #FFFFF0;
  transition: height 0.3s ease;
}
.chat-component.minimized {
  height: 50px;
}
.chat-component.minimized .message-container {
  display: none;
}
.chat-component.expanded {
  height: 200px;
}
.chat-component .notification {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.7;
  }
}

.message-container {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  height: 400px;
}

.message {
  margin-bottom: 10px;
  text-align: left;
}

.player {
  font-weight: bold;
}

.input-container {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.input-container input {
  flex: 1;
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-container button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  /* background-color: #007bff;
  color: white; */
  cursor: pointer;
}

/* Mobile styling */
@media (max-width: 767px) {
  .chat-component {
    display: none;
  }
}