/* Used to automatically reposition tiles so they stay centered on board */
.game-board {
  position: relative;
  flex: 1;
}
.game-board .tile-container {
 /* adjust the height:width ratio to maintain equilateral triangle ratio */
  width: 100px;
  height: 86.6px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-image: url('./../../public/triangle-up-beige.png');
  background-size: contain;
  position: absolute;
  cursor: pointer;
}
.number {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
}
.bottom-left {
  bottom: 5px;
  left: 27px;
  transform: rotate(60deg);
}
.bottom-right {
  bottom: 5px;
  right: 27px;
  transform: rotate(-60deg);
}
.top-center {
  top: 20px;
  transform: translateX(-43.3%) rotate(180deg);
}
.game-board .tile-container-inverted {
 /* adjust the height:width ratio to maintain equilateral triangle ratio */
  width: 100px;
  height: 86.6px;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  background-image: url('./../../public/triangle-down-beige.png');
  background-size: contain;
  position: absolute;
  cursor: pointer;
}
.top-left {
  top: 5px;
  left: 27px;
  transform: rotate(120deg);
}
.top-right {
  top: 5px;
  right: 27px;
  transform: rotate(-125deg);
}
.bottom-center {
  bottom: 20px;
  left: 43.3%;
}

.tile-container:hover {
  transform: translateY(-2px);
}
.tile-container-inverted:hover {
  transform: translateY(-2px);
}

/* Additional styling to show most recent play, selected tiles, and playable spaces */
.tile-container.most-recent {
  background-image: url('./../../public/triangle-up-red-star.png');
  /* color: red; */
}
.tile-container-inverted.most-recent {
  background-image: url('./../../public/triangle-down-red-star.png');
  /* color: red; */
}
.tile-container.selected {
  background-image: url('./../../public/triangle-up-yellow.png');
  color: black;
}
.tile-container-inverted.selected {
  background-image: url('./../../public/triangle-down-yellow.png');
  color: black;
}
.tile-container.playable-visible {
  background-image: url('./../../public/triangle-up-darkgreen.png');
  color: transparent;
}
.tile-container-inverted.playable-visible {
  background-image: url('./../../public/triangle-down-darkgreen.png');
  color: transparent;
}
.tile-container.playable-hidden {
  background-image: url('./../../public/empty.png');
  color: transparent;
}
.tile-container-inverted.playable-hidden {
  background-image: url('./../../public/empty.png');
  color: transparent;
}

.droppable-tile {
  cursor: pointer;
}

/* Styling for tiles in hand, removes absolute positioning */
/* .tile-container {
  flex: 0 0 auto;
  width: 100px;
  height: 86.6px; 
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-image: url('./../../public/triangle-up-beige.png');
  background-size: cover;
  position: relative;
}
.tile-container-inverted {
  flex: 0 0 auto;
  width: 100px;
  height: 86.6px; 
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  background-image: url('./../../public/triangle-down-beige.png');
  background-size: cover;
  position: relative;
} */

/* Mobile phone styling essentially 50% size of desktop version */
/* Need separate tablet styling */
@media (max-width: 767px) {
  .game-board .tile-container,
  .game-board .tile-container-inverted {
    width: 60px;
    height: 51.96px;
    /* flex: 1; */
    /* order: 2; */
  }
  .number {
    font-size: 14px;
    /* font-weight: 600; */
  }
  .bottom-left {
    bottom: 2px;
    left: 15px;
  }
  .bottom-right {
    bottom: 2px;
    right: 15px;
  }
  .top-center {
    top: 10px;
  }
  .top-left {
    top: 1px;
    left: 16px;
  }
  .top-right {
    top: 1px;
    right: 16px;
  }
  .bottom-center {
    bottom: 10px;
  }
  .tile-container:hover {
    transform: none;
  }
  .tile-container-inverted:hover {
    transform: none;
  }  
}