.player-scores {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
  background-color: #FFFFF0;
  color: black;
  margin-bottom: 2px;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.player-active-box {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.active-player-gif {
  width: 20px;
  height: 20px;
}

.player-score-item {
  display: flex;
  position: relative;
  margin: 2px;
}

.player-score-item::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 25.98px;
  background-image: url('triangle-up.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.player-score-item::after {
  content: attr(data-tiles);
  position: absolute;
  top: 60%;
  left: 15px;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.player-name {
  flex: 1;
  text-align: left;
  margin-left: 10px;
  font-weight: bold;
}

.player-score {
  flex: 1; 
}

.player-score-details {
  display: flex;
  flex: 1;
  text-align: center;
}

@media (max-width: 1024px) {
  .player-scores {
    margin: 0;
    border-radius: 4px;
    padding: 10px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}