.game-log {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 60vh;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
  overflow: hidden;
}
.game-log.collapsed {
  max-height: 50px;
}
.game-log-header {
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
  cursor: pointer;
  background-color: white;
}
.game-log-entries {
  margin-top: 0;
  list-style: none;
  padding: 0;
  overflow-y: auto;
}
.game-log-entry {
  margin-bottom: 4px;
  padding-bottom: 4px;
  padding-left: 5px;
  border-bottom: 1px solid grey;
  text-align: left;
}

@media (max-width: 1024px) {
  .game-log {
    margin: 0;
    border-radius: 0;
    transition: max-height 0.3s ease;
    overflow: hidden;
  }
  .game-log.collapsed {
    max-height: 50px;
  }
}