main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: forestgreen;
}

.block {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
}
.game-board .block {
  position: absolute;
  transform: translate(50vw, -50vh);
}
.block-inner {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.block-inner.block-up {
  background-image: url('triangle-up.png');
  padding-top: 1em;
}
.block-inner.block-down {
  background-image: url('triangle-down.png');
  padding-bottom: 1em;
}
.block-inner.block-up.potential {
  background-image: url('triangle-up-yellow.png');
}
.block-inner.block-down.potential {
  background-image: url('triangle-down-yellow.png');
}
.block-inner .clickzone {
  position: absolute;
  z-index: 2;
  top: 50%; /* relative to parent */
  left: 50%; /* relative to parent */
  transform: translate(-50%, -50%); /* relative to self, trick to center */

  width: 45%;
  height: 45%;
}
.block-inner:has(.clickzone:hover) {
  font-weight: bold;
}

.player-hand {
  /* positioning */
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);

  /* styling */
  border: 2px solid white;

  /* layout blocks horizontally */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.player-scores {
  position: absolute;
  top: 10px;
  left: 10px;

  /* styling */
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
  border-collapse: collapse;
  background-color: white;
  font-weight: bold;

  width: 300px;

  column-count: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.game-log {
  position: absolute;
  top: 10px;
  right: 25px;

  width: 375px;
  height: 80vh;
  border: 1px solid black;
  border-radius: 2px;
  padding: 10px;
  background-color: white;
  overflow-y: scroll;
}