main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: forestgreen;
}

.block {
  width: 100px;
  height: 100px;
  box-sizing: border-box;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.block-up {
  background-image: url('triangle-up.png');
  padding-top: 1em;
}
.block-down {
  background-image: url('triangle-down.png');
  padding-bottom: 1em;
}
.game-board .block {
  position: absolute;
  transform: translate(50vw, -50vh);
}
.player-hand {
  /* positioning */
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);

  /* styling */
  border: 2px solid white;

  /* layout blocks horizontally */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.block:hover {
  font-weight: bold;
}

/* To implement
    - Score tracker (top left)
    - Hand size indicator (top left)
    - Visible hand at bottom
    - Clickable draw pile (bottom right)
    - Running game log (top right)
    - Game object (which holds log of all plays)
*/