main {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: forestgreen;
  /* background-image: url('felt-background-compressed.jpg');
  background-size: contain; */
  color: black;
  overflow: hidden;
}

/* Holds buttons, game-board, and player hand */
.left-container {
  flex: 1;
  width: calc(100vw - 375px);
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow: hidden;
}

/* Holds scores, game log, and chat */
.right-container {
  width: 375px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
  overflow: auto;
}

/* Holds buttons */
.buttons-container {
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 1px;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttons-container .button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  padding: 10px 20px;
  margin: 5px;
  background-color: black;
  color: whitesmoke;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.buttons-container .button:hover {
  background-color: #D3D3D3;
  color: black;
}
.tiles-remaining {
  font-size: 0.8em;
  color: #888;
}

.right-aligned-buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.move-highlighting-toggle-button {
  font-size: 14px;
  padding: 10px 20px;
  /* margin: 5px; */
  background-color: black;
  color: whitesmoke;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.move-highlighting-toggle-button:hover {
  background-color: #D3D3D3;
  color: black;
}

.sound-toggle-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.sound-toggle-button:focus {
  outline: none;
}

/* Holds player hand */
.bottom-container {
  display: flex;
  justify-content: center;
  /* margin-bottom: 35px; */
}

.player-color-red {
  color: red;
}

.player-color-blue {
  color: #0000ff;
}

.player-color-green {
  color: green;
}

.player-color-purple {
  color: #ff00ff;
}

.player-color-brown {
  color: #008080;
}

.player-color-orange {
  color: #a52a2a;
}


/* Mobile phone styling */
/* Need separate tablet styling */
@media (max-width: 767px) {
  main {
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }
  .buttons-container {
    order: 0;
    padding: 0px;
  }
  .buttons-container .button {
    font-size: 11px;
    transform: translateX(-65px);
  }
  .sound-toggle-button {
    padding: 10px;
    margin-right: 10px;
  }
  .move-highlighting-toggle-button {
    max-width: 80px;
    margin-right: 20px;
    font-size: 11px;
  }
  .left-container {
    width: 100%;
    order: 2;
    overflow-y: auto;
  }
  .bottom-container {
    padding: 10px;
    order: 3;
  }
  .right-container {
    width: 100%;
    height: auto;
    padding: 10px;
    order: 2;
  }
}