/* Styling for tiles in hand, removes absolute positioning */
.tile-in-hand {
  flex: 0 0 auto;
  width: 100px;
  height: 86.6px; /* adjust the height to maintain equilateral triangle ratio */
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-image: url('./../../public/triangle-up-beige.png');
  background-size: cover;
  transition: transform 0.3s ease-in-out;
}

.tile-in-hand.selected {
  background-image: url('./../../public/triangle-up-yellow.png');
}

.tile-in-hand:hover {
  transform: translateY(-2px);
}

.droppable-tile {
  cursor: pointer;
}

.number-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.number {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
}
.top-center {
  top: 20px;
  left: 44px;
  transform: rotate(180deg);
}
.bottom-right {
  bottom: 3px;
  right: 25px;
  transform: rotate(-60deg);
}
.bottom-left {
  bottom: 3px;
  left: 25px;
  transform: rotate(60deg);
}

/* Wrapper div around rotating tile that uses clip-path to get dragged image */
.tile-dragging {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.tile-dragging-inverted {
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}


/* In general, mobile styling is just 50% of normal desktop sizing */
@media (max-width: 767px) {
  .tile-in-hand {
    width: 60px;
    height: 51.96px; /* adjust the height to maintain equilateral triangle ratio */
  }
  .number {
    font-size: 14px;
  }
  .top-center {
    top: 13px;
    left: 25px;
  }
  .bottom-right {
    bottom: 0px;
    right: 14px;
  }
  .bottom-left {
    bottom: 0px;
    left: 14px;
  }
}